use std::{env, error::Error, fs, path::PathBuf};

fn main() -> Result<(), Box<dyn Error>> {
    let output_directory = PathBuf::from(env::var_os("OUT_DIR").ok_or("OUT_DIR is not set")?);
    let linker_script_name = if env::var_os("CARGO_FEATURE_ABI_V3").is_some() {
        "memory.v3.x"
    } else {
        "memory.x"
    };
    let linker_script = output_directory.join("link.x");
    fs::copy(linker_script_name, linker_script)?;
    println!("cargo:rustc-link-search={}", output_directory.display());
    println!("cargo:rerun-if-changed=memory.x");
    println!("cargo:rerun-if-changed=memory.v3.x");
    Ok(())
}
