MEMORY
{
    APP (rx) : ORIGIN = {{ application_origin }}, LENGTH = {{ application_length }}
}

ENTRY(amiran_entry)

SECTIONS
{
    .text : ALIGN(4)
    {
        KEEP(*(.text.amiran_entry))
        *(.text*)
        *(.rodata*)
    } > APP

    /DISCARD/ :
    {
        *(.ARM.exidx*)
        *(.ARM.extab*)
        *(.eh_frame*)
    }
}
